.Browse .inputs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 20px 0;
}

.Browse fieldset {
  display: flex;
  flex-flow: column nowrap;
  border : none;
  height: 100%;
}

.Browse label {
  padding: 10px;
}

.Browse select {
  width: 150px;
  height: 100px;
  background-color: #000;
  color: rgb(194, 194, 194);
  border-radius: 3px;
  border: 1px dotted rgb(194, 194, 194);
  padding: 3px;
}

.Browse input[type='range']{
  width: 100%;
  color: rgb(194, 194, 194);
  border-radius: 20px;
}

.Browse .releaseDateInputs{
  display: flex;
  flex-flow: row nowrap;
}

.Browse input[type='date']{
  border: none;
  background-color: black;
  color: rgb(194, 194, 194);
}

input[type="date"]::-webkit-inner-spin-button{
  display: none;
}

.Browse input[type='submit']{
  height: 50px;
  margin: 0 10px;
  padding: 10px;
  border: none;
  background-color: rgb(194, 194, 194);
  color: black;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}