.Home{
    margin-top: 100px;
}

.Home .popular-list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
}

.Home .popular-item{
    margin: 0 10px;
}

.Home .popular-item h3{
    text-transform: uppercase;
}


